In [1]:
## List are ordered mutable collection of items
## list contain items of different datatypes
## List are created in square bracket

lst=[]
print(type(lst))

<class 'list'>

In [2]:
names=["Utkarsh","Tyagi",1,2,3,4,5]

In [3]:
print(names)

['Utkarsh', 'Tyagi', 1, 2, 3, 4, 5]

In [4]:
mixed=[1,"Hello",3,14,True]

In [5]:
print(mixed)

[1, 'Hello', 3, 14, True]

In [6]:
## Accessing List items

fruits=["Apple","Banana","Cherry","Orange","Mango"]
print(fruits[2])

Cherry

In [7]:
fruits[3]

'Orange'

In [8]:
print(fruits[-1])

Mango

In [9]:
## Printing set of fruits 

print(fruits[1:])

['Banana', 'Cherry', 'Orange', 'Mango']

In [10]:
print(fruits[1:3])

['Banana', 'Cherry']

In [11]:
print(fruits[-1:])

['Mango']

In [12]:
## Modifying list element

fruits[1]="Watermelon"

In [13]:
print(fruits)

['Apple', 'Watermelon', 'Cherry', 'Orange', 'Mango']

In [14]:
fruits[1:]="Watermelon"

In [15]:
fruits

['Apple', 'W', 'a', 't', 'e', 'r', 'm', 'e', 'l', 'o', 'n']

In [35]:
fruits=["Apple","Banana","Cherry","Orange","Mango"]
fruits.append("Graphs")## append add element to last

In [36]:
fruits

['Apple', 'Banana', 'Cherry', 'Orange', 'Mango', 'Graphs']

In [37]:
## add element to specific index
fruits.insert(1,"Kiwi")

In [38]:
print(fruits)

['Apple', 'Kiwi', 'Banana', 'Cherry', 'Orange', 'Mango', 'Graphs']

In [39]:
fruits.remove("Banana") ## remove the given element
print(fruits)

['Apple', 'Kiwi', 'Cherry', 'Orange', 'Mango', 'Graphs']

In [40]:
## remove and return the last element
print(fruits.pop())
fruits

Graphs

['Apple', 'Kiwi', 'Cherry', 'Orange', 'Mango']

In [41]:
## getting index based on element name

index=fruits.index("Cherry")
print(index)

2

In [42]:
fruits.insert(2,"Apple")## getting count the number of time the element has appeared
print(fruits.count("Apple"))

2

In [43]:
fruits

['Apple', 'Kiwi', 'Apple', 'Cherry', 'Orange', 'Mango']

In [46]:
fruits.sort()## list in ascending order

In [47]:
fruits

['Apple', 'Apple', 'Cherry', 'Kiwi', 'Mango', 'Orange']

In [48]:
## reverse the list 
fruits.reverse()

In [49]:
fruits

['Orange', 'Mango', 'Kiwi', 'Cherry', 'Apple', 'Apple']

In [52]:
## remove all the entire from list
fruits.clear()

In [53]:
fruits

[]

In [7]:
## slicing the list 
numbers=[1,2,3,4,5,6,7,8,9]
print(numbers[2:5])
print(numbers[:5])
print(numbers[5:])
print(numbers[::2])
print(numbers[::-1])

[3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 9]
[1, 3, 5, 7, 9]
[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [8]:
numbers[::3]

[1, 4, 7]

In [9]:
numbers[::-2]

[9, 7, 5, 3, 1]

In [10]:
## iterating over list
for numbers in numbers:
    print(numbers)

1
2
3
4
5
6
7
8
9

In [13]:
## iterating with index
numbers = [1, 2, 3, 4, 5,6,7,8,9]  # Example list
for index, number in enumerate(numbers):
    print(index, number)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9

In [14]:
## List comprehension 
lst=[]
for x in range(10):
    lst.append(x**2)
    
print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [15]:
## List comprehension  
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [16]:
## basic syntax for list comprehension
##  [expression for item in iterable]

## With conditional logic [expression for item in iterable if condition]

square=[num**2 for num in range(1,10)]

In [17]:
print(square)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [19]:
lst=[]
for i in range(10):
    if i%2==0:
        lst.append(i)
        
print (lst)

[0, 2, 4, 6, 8]

In [20]:
even_numbers=[num for num in range(10) if num%2==0]

In [21]:
print(even_numbers)

[0, 2, 4, 6, 8]

In [22]:
## Nested list operation

## [expression of item1 in iterable for item2 in iterable]

lst1=[1,2,3,4]
lst2=['a','b','c','d']

pair=[[i,j]for i in lst1 for j in lst2]

In [23]:
print(pair)

[[1, 'a'], [1, 'b'], [1, 'c'], [1, 'd'], [2, 'a'], [2, 'b'], [2, 'c'], [2, 'd'], [3, 'a'], [3, 'b'], [3, 'c'], [3, 'd'], [4, 'a'], [4, 'b'], [4, 'c'], [4, 'd']]